* {
    padding: 0;
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
    background-color: #202020;
}

.logopng {
    width: 40%;
}

.logo {
    position: absolute;
    top: 4.5%; left: 33%;
    transform: translate(-50%,-50%);
}

.welcome {
    position: absolute;
    top: 15%; left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.wtext {
    position: absolute;
    top: 33%; left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(211, 211, 211);
    width: 90%;
}

.button {
    position: absolute;
    top: 52%; left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    font-weight: bolder;
    color: #202020;
    background-color: rgb(218, 218, 218);
    padding: 5px 15px;
    border-radius: 2px;
    font-style: italic;
}


.button2 {
    position: absolute;
    top: 49.5%; left: 132%;
    transform: translate(-50%,-50%);
    text-decoration: ;
    font-weight: bolder;
    color: #fff;
    font-style: italic;

}

.atitle {
    position: absolute;
    top: 135%; left: 55%;
    transform: translate(-50%,-50%);
    color: white;
    width: 100%;
}

.blist {
    position: absolute;
    top: 1000%; left: 60%;
    transform: translate(-50%,-50%);
    color: rgb(207, 207, 207);
    width: 100%;
}

